*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    border: 1px black solid;
    min-height: 450px;
    min-width: 350px;
    background-color:rgba(7, 6, 6, 0.733);
    border-radius: 15px;
}

.display {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    height: 100px;
    width: auto;
    margin: 20px 20px;
    justify-content: space-between;
    background-color: white;
}



.display-input,.display-answer {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: end;
    margin-right: 5px;
    min-height: 10px;
    padding: 10px 5px;
}

.display-answer {
    font-size: x-large;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 4fr);
    grid-gap: 5px;
    margin: 20px;
}

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

.delete {
    grid-column-start: 3;
    grid-column-end: 5;
}

.clear, .delete {
    height: 55px;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    background-color: #616161;
    color: black;
}

.btn {
    height: 65px;
    border-radius: 20%;
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: oblique;
}