*, 
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator {
    border: 1px black solid;
    min-height: 500px;
    min-width: 400px;
}

.display {
    border: 1px black solid;
    height: 100px;
    width: auto;
    margin: 5% 5%;
}

.input,.answer {
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: end;
    margin-right: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    grid-template-rows: repeat(4, 4fr);
    grid-gap: 10px;
    margin: 10px;
}

.clear {
    grid-column-start: 1;
    grid-column-end: 3;
}

.delete {
    grid-column-start: 3;
    grid-column-end: 5;
}

.clear, .delete {
    height: 60px;
}

.btn {
    height: 60px;
}